.calendarContainer table

{
width:0px;

height:0px;
}

.calendarContainer table tr th

{
padding:0;
margin:0; 
}
.calendarContainer table tr td

{
padding:0;
margin:0;
}
.calendarContainer table tr td div

{
padding:1;
margin:0;
}
And check your css file doesn’t include

div
{
    min-height: 0;
}