.Sample6PageUpdateProgress
{
	background-color:#CF4342;
	color:#fff;
	width: 150px;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	bottom: 50%;
	left: 45%;
	z-index: 999999;
}
.TransparentGrayBackground 
{
	position: fixed;
	top: 0;
	left: 0;
	
	background-color:black;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index: 999990;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%
}
.borderlesstb
{
    border-style: none !important;
    background: #f2f2f2 none !important;
    text-align: right;
}
.hovercell:hover
{
    border: 1px dotted #C0C0C0 !important;
}
.backbutton
{
    background-image: url('navigatl.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
}
.forwardbutton
{
    background-image: url('navigatm.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
}
/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
/* Accordion End*/
.centereddiv{
	text-align: center;
	vertical-align: middle;
	position: fixed;
	bottom: 50%;
	left: 35%;
	z-index: 999999;
}
/*Example CSS for the two demo tickers*/
        
        #domticker
        {
            width: 100%;
            height: 20px;
            padding: 5px;
        }
        
        #domticker div
        {
            /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
        }
        
        #domticker a
        {
        }
        .someclass
        {
            /*class to apply to your scroller(s) if desired*/
        }