body {
	font: 12pt "Times New Roman";
	background-color: white;
}
#navigasi{
	font-family: Tahoma, Verdana;
	border: 1px solid #A8A8A8;
	padding: 10px;
	width: 140mm;
	text-align: center;
	background-color: #f5f5f5;
}
#navigasi #klik{
	border: 1px solid ButtonText;
	color: ButtonText;
	font-weight: bold;
	background-color: #EEEEEE;
	padding-left: 5px;
	padding-right: 5px;
}
#navigasi input.tombol{
	border: 1px solid ButtonText;
	color: ButtonText;
}
.paperA4{
	height: 175mm;
	width: 247mm;
	border: 1px dashed #66ff66;
	padding: 1px;
	font-family: "Trebuchet MS", Arial, Tahoma, Verdana;
}
.papersetengahA4{
	height: 147mm;
	width: 192mm;
	border: 1px dashed #66ff66;
	padding: 1px;
	font-family: "Trebuchet MS", Arial, Tahoma, Verdana;
	background-color: White;
}
.header1{
	font-size: 13px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;
}
.header2{
	font-size: 24px; font-family: "Rockwell Extra Bold", "Arial Black";
	font-weight:bold;
}
.alamat{
	font-size: 10px; font-family:Arial, Helvetica, sans-serif;
}
.fotoTD{
	padding: 0px;
}
.fotoDIV{
	font-size: 10px;
	width:20mm;
	height: 20mm;
	border: #000000 solid 1px;
	text-align: center;
	vertical-align:  baseline;
}
.garis{ border-bottom: 3px solid Black; }
.judulKRS{ font-family: Arial, Helvetica, sans-serif;  font-size: 18px;  font-weight: bold;   }
.identitas{	font-family: "MS Sans Serif", Arial, Tahoma; font-size: 11px;}
.tabelkrs{
	/*font-family: Arial, Tahoma, Verdana;*/
	font-family: Arial, Tahoma;
	font-size: 9px;
	border: 0px solid #000000;
	border-right: 0px solid #000000;
}
.tabelkrs .thl, .thc{
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #000000;
}
.tabelkrs .thr{
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 4px solid #000000;
}
.tabelkrs .thct{
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 0px solid #000000;
}
.tabelkrs .thrt{
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 0px solid #000000;
	border-right: 1px solid #000000;
}
.tabelkrs .thcb{
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #000000;
}
.tabelkrs .thrb{
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #000000;
	border-right: 1px solid #000000;
}
.tabelkrs .tdl, .tdc, .tdl2, .tdc2{
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.tabelkrs .tdr{
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.tabelIndek{
	font-family: Arial, Tahoma; 
	font-size: 10px;
}
.ttd{
	font-size: 12px;
	text-align: center;
}
.tabelIndek .content{
	font-size: 10px;
	color: Black;
}
.catatan{
	font-size: 10px;
}