body {font-family:"Times New Roman", Times, serif; color: #000000;}
#paperarea {/*width:210mm; height:279mm; padding:10mm 10mm 10mm 10mm ; background-color:#FFFFFF; border:outset 3px #000000;*/}
#printarea {width:205mm; height:259mm; background-color:#FFFFFF; border:dashed 0px #000000;/* margin:10mm;*/}
#title {font-family:"Times New Roman", Times, serif; font-size:24px; text-decoration:underline;}
#identitas table {font-family:"Times New Roman", Times, serif; font-weight:bold; font-size:11px;}
#not {font-family:"Times New Roman", Times, serif;}
#tabledata table {font-size:10px;}
#trdata {font-size:10px;}
#tddata {letter-spacing:0; font-family:"Times New Roman", Times, serif; padding: 0 3 0 3;}
#nilai table {font-family:"Times New Roman", Times, serif; font-weight:bold; font-size:12px;}
#ttd table {font-size:11px; font-weight:bold;}
#footer table {font-size:8px; font-weight:lighter;}